{% extends 'base.html' %}
{% block body %}
  <h1>{{ reviews.title }}</h1>
  <h3>{{ reviews.movie_name }}</h3>

  <p>{{ reviews.create_at }}
    |
    {{ reviews.updated_at }}</p>
  <p>{{ reviews.content }}</p>
  <a class="text-decoration-none text-dark btn fs-3 me-3" href="{% url 'reviews:update' reviews.pk %}">
    <i class="bi bi-bootstrap-reboot"></i>
  </a>
  <a class="text-decoration-none text-dark btn fs-3 me-3" href="{% url 'reviews:delete' reviews.pk %}">
    <i class="bi bi-trash3"></i>
  </a>
  <a class="text-decoration-none text-dark btn fs-3" href="{% url 'reviews:index' %}">
    <i class="bi bi-house-fill"></i>
  </a>
  <hr>

{% endblock body %}