{% extends 'base.html' %}
{% block body %}
  <h1 class="text-center">영화 리뷰 게시판</h1>
  <div class="text-end">
    <a class="text-decoration-none text-dark fs-3" href="{% url 'reviews:new' %}">
      리뷰 쓰기
      <i class="bi bi-pencil-square"></i>
    </a>
  </div>

  <table class="table text-center mt-5">
    <thead>
      <tr class="fs-4">
        <th scope="col">글 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">영화 이름</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <th scope="row">{{review.pk}}</th>
          <td>
            <a class="text-decoration-none text-dark" href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
          </td>
          <td>
            <a class="text-decoration-none text-dark" href="{% url 'reviews:detail' review.pk %}">{{ review.movie_name }}</a>
          </td>
          <td>
            {{review.updated_at}}
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock body %}